@media (max-width: 600px){

  .content-actions {
    margin-right: 20px;
    margin-top: 0px;
    //TODO: make this nicer
  }

  .content-actions__container {
    position: relative;
    margin: 0;
  }

  .content-actions__action {
    padding: .3em 0;
  }

  .content-youarehere {
    margin: .8em 42px .4em 0.8em;
  }

  .content-card {
    //margin: .8em 42px 2em 0.8em;
    min-height: 300px;
    margin: 0;
    width: 100%;
  }

  .content-search {
    width: 100px;
  }

  .mdl-mini-footer {
    min-height: 200px;
  }
  .content-search__popup {
    background: #fff;
    ._shadow_1dp;
    padding: 1em;
    width: 100%;
  }
}